/*!
=========================================================
* Rubic Landing page
=========================================================

* Copyright: 2019 DevCRUD (https://devcrud.com)
* Licensed: (https://devcrud.com/licenses)
* Coded by www.devcrud.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

::selection {
  background: #eb8e3d;
  color: white
}

/* testbox */
html,
body {
  min-height: 100%;
}

body,
div,
form,
input,
label {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #666;
  line-height: 40px;
}

h1 {
  position: absolute;
  margin: 0;
  font-size: 40px;
  color: #fff;
  z-index: 2;
  line-height: 83px;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
}

form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 8px #cc7a00;
}

.banner {
  position: relative;
  color: white;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner::before {
  content: "";
  background-image: url('https://placekitten.com/1200/800');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

/* .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2); 
  position: absolute;
  width: 100%;
  height: 100%;
} */
.banner2 {
  position: relative;
  height: 300px;
  background-size: cover;
  justify-content: left;
  align-items: left;
  text-align: left;
  content: "";
  background-color: rgba(255, 0, 0, 0.2);
  width: 25%;
  height: 100%;
}

input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 10px);
  padding: 5px;
}

input[type=radio]:checked+label:after {
  opacity: 1;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

button {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #cc7a00;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #ff9800;
}

.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* cheakbox */
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 15px;
  top: 8px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}



/* Header */
a {
  color: #ff9a44;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #f77100;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}


.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar>.container2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3375rem;
  padding-bottom: 0.3375rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  .navbar-expand-md>.container2 {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar-expand-md>.container2 {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #fff;
}


.ml-auto {
  margin-left: auto !important;
}

.ml-md-4 {
  margin-left: 1.5rem !important;
}

/* Page Navbar*/
.page-navbar {
  min-height: 90px;
  background-color: rgba(52, 58, 64, 1);
  /* 背景顏色 */
  background: linear-gradient(45deg, rgba(52, 58, 64, 1), rgba(80, 89, 97, 1));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-navbar .navbar-brand {
  /* 左邊的字的font */
  font-size: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-navbar .nav-item .nav-link {
  color: #dee2e6;
  /* 右邊的字的顏色 */
  font-weight: 0;
}

.text-primary {
  color: #ff9a44;
  /* 左邊的字的顏色(前半) */
}

.text-light {
  color: #f8f9fa !important;
  /* 左邊的字的顏色(後半) */
}

/* footer */
#gtco-footer {
  background: #262626;
  /* footer 背景顏色 */
  padding: 2em 0 0 0 !important;
  /* 字跟上緣的距離？*/
  width: 100%;
  /* 左右撐開幾倍的螢幕 */
}

#gtco-footer .gtco-footer-paragraph h3 {
  color: #fff;
  /* 左邊大字的顏色 */
  margin-bottom: 5px;
  /* 左邊大字跟小字的距離 */
}

#gtco-footer .gtco-footer-link {
  padding-left: 30px;
  /* 左邊字和右邊字的距離(把右邊往右推) */
}

#gtco-footer .gtco-copyright {
  background: #1a1a1a;
  /* 最下面那排的背景顏色 */

  float: left;
  width: 100%;
}

#gtco-footer .gtco-copyright p:last-child {
  margin-bottom: 0;
}

.gtco-section {
  padding: 2em 0;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  .gtco-section {
    padding: 2em 0;
  }
}

.gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}

.gtco-section.gtco-gray {
  background: #f6f6f6;
}

.gtco-container {
  max-width: 1240px;
  position: relative;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 0px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row-pb-md {
  padding-bottom: 2em !important;
}

@media screen and (max-width: 480px) {
  #gtco-header .text-left {
    text-align: center !important;
  }
}

#gtco-footer .gtco-footer-link .gtco-list-link {
  padding: 0;
  margin: 0;
}

#gtco-footer .gtco-footer-link .gtco-list-link li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-footer .gtco-footer-link .gtco-list-link li a {
  text-transform: uppercase;
  font-size: 20px !important;
  /* footer 中間那排字的font*/
}

.col-md-4,
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.col-md-4 {
  width: 40%;
}

.col-md-6 {
  width: 40%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.header1 {
  display: block;
  font-size: 60px;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header2 {
  line-height: 30px;
  font-size: 30px;
  margin: 10px;
  margin-top: 30px;
}

.header3 {
  line-height: 40px;
  margin: 10px;
  font-size: 40px;
}