<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/rubic.css">
    <style>
      ::selection {
        background: #46d4a0;
        color: white
      }
    </style>
  </head>
  <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md" data-spy="affix" data-offset-top="20" style='background: linear-gradient(45deg,#1af089,#1af0e9);'>
    <div class="container2">
      <a class="navbar-brand" href="/"><strong class="text-primary" style="color: #000000">🏠 Back to Home</strong></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login" style="cursor: not-allowed; color: #000000; text-decoration: none">使用條款</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tool1" style="cursor: not-allowed; color: #000000; text-decoration: none">配筋圖查核</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tutorial" style="cursor: not-allowed; color: #000000; text-decoration: none">使用教學</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results" style="cursor: not-allowed; color: #000000; text-decoration: none">輸出結果</a>
          </li>
          <!--
          
          <li class="nav-item">
            <a class="nav-link" href="/tool4">功能四</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tool5">功能五</a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <footer id="gtco-footer" class="gtco-section" role="contentinfo">
    <div class="gtco-container">
      <div class="row row-pb-md">
        <div class="col-md-4 gtco-widget gtco-footer-paragraph">
          <h3>這裡什麼都沒有歐</h3>
          <a href="https://5a0401.notion.site/" style="cursor: default; text-decoration: none; color: #989c9b" target="_blank">我只想說聲辛苦了!</a>
        </div>
        <div class="col-md-4 gtco-footer-link">
          <div class="row">
            <div class="col-md-6">
              <ul class="gtco-list-link">
                <li><a href="/" style="cursor: wait; text-decoration: none; color: #1fedd9">首頁</a></li>
                <li><a href="/login" style="cursor: wait; text-decoration: none; color: #1fedd9">使用條款</a></li>
                <li><a href="/tool1" style="cursor: wait; text-decoration: none; color: #1fedd9">配筋圖查核</a></li>
                <li><a href="/tutorial" style="cursor: wait; text-decoration: none; color: #1fedd9">使用教學</a></li>
                <li><a href="/results" style="cursor: wait; text-decoration: none; color: #1fedd9">輸出結果</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <b style="color: #42e610">
                官方Line帳號？ </b><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" style='text-decoration: none; color: #1fedd9'>https://lin.ee/YCrkTU0</a> <br>
                <div align="center"><img style="max-width: 100%; height: auto;"src="./static/1ine.png" alt="image"></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gtco-copyright">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-6 text-left">
            <p><small>&copy; 2016 Free HTML5. All Rights Reserved. </small></p>
          </div>
          <div class="col-md-6 text-right">
            <p><small>Designed by <a href="http://gettemplates.co/" target="_blank" style='text-decoration: none; color: #1fedd9'>GetTemplates.co</a> Demo Images: <a href="http://pixeden.com/" target="_blank" style='text-decoration: none; color: #1fedd9'>Pixeden</a> &amp; <a href="http://unsplash.com" target="_blank" style='text-decoration: none; color: #1fedd9'>Unsplash</a></small> </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>