{% extends "base.html" %}

{% block title %}HOMEPAGE{% endblock %}

{% block content %}
<body>
<body>
<div class="testbox">
<form action="" method=post enctype=multipart/form-data>
    <div class="banner">
        <h1>跟我們一起實踐智慧化營造！</h1>
    </div>
    <h2 style="background-color: rgba(250, 176, 5, 0.5);">📙 導覽</h2>
    <h3>1. 使用前請先詳閱使用條款</h3>
    <h3>2. 執行程式請點選上方導覽列的配筋圖查核</h3>
    <h3>3. 初次使用或尚未熟悉操作流程者請點選上方導覽列的使用教學</h3>
    <h3>4. 執行後不小心離開分頁者，可在一段時間內前往上方導覽列的輸出結果查看檔案。</h3>
    <h2 style="background-color: rgba(250, 176, 5, 0.5);">⚙️ 功能介紹</h2>
    <h3>1. 核對平面圖和柱配筋圖的柱子是否有缺漏或尺寸不一致</h3>
    <h3>2. 核對平面圖和梁配筋圖的大梁、小梁是否有缺漏或尺寸不一致</h3>
    <h3>3. 核對平面圖上大梁、小梁的複線寬度是否和文字描述一致</h3>
</form>
</div>
</body>
{% endblock %}