{% extends "base.html" %}

{% block title %}secret{% endblock %}

{% block content %}
<body>

<div class="testbox">
<form action="" method=post enctype=multipart/form-data>
    <div class="banner">
          <h1>where am i ???</h1>
    </div>
</form>
</div>

<p style="color:white; font-size:1px">&emsp;SHHHH...Don't tell anyone you find this page. </p>
<br>
<a href="/" style="color:white; font-size:1px">首頁</a>
<br>
<a href="/login" style="color:white; font-size:1px">使用條款</a>
<br>
<a href="/tool1" style="color:white; font-size:1px">配筋圖查核</a>
<br>
<a href="/tutorial" style="color:white; font-size:1px">使用教學</a>
<br>
<a href="/results" style="color:white; font-size:1px">輸出結果</a>
<br>


</body>
{% endblock %}