{% extends "base.html" %}

{% block title %}Elements{% endblock %}

{% block content %}
<body>
<script>

</script>
<title>本網站免責聲明</title>
<h2>訪問者在接受本網站服務之前，請務必仔細閱讀本條款並同意本宣告。訪問者訪問本網站的行為以及通過各類方式利用本網站的行為，都將被視作是對本宣告全部內容的無異議的認可<br>

    第一條訪問者在從事與本網站相關的所有行為(包括但不限於訪問瀏覽、利用、轉載、宣傳介紹)時，必須以善意且謹慎的態度行事;訪問者不得故意或者過失的損害或者弱化本網站的各類合法權利與利益，不得利用本網站以任何方式直接或者間接的從事違反中國法律、國際公約以及社會公德的行為，且訪問者應當恪守下述承諾：<br>
    
    1、傳輸和利用資訊符合法律、國際公約的規定、符合公序良俗;<br>
    
    2、不將本網站以及與之相關的網路服務用作非法用途以及非正當用途;<br>
    
    3、不干擾和擾亂本網站以及與之相關的網路服務;<br>
    
    4、遵守與本網站以及與之相關的網路服務的協議、規定、程式和慣例等。<br>
    
    第二條本網站鄭重提醒訪問者：請在轉載、上載或者下載有關作品時務必尊重該作品的版權、著作權;如果您發現有您未署名的作品，請立即和我們聯絡，我們會在第一時間加上您的署名或作相關處理。<br>
    
    第三條除我們另有明確說明或者法律有強制性規定外，本網站使用者原創的作品，本網站及作者共同享有版權，未經授權嚴禁轉載或用於其它商業用途。<br>
    
    第四條本網站內容僅代表作者本人的觀點，不代表本網站的觀點和看法，與本網站立場無關，相關責任作者自負。<br>
    
    第五條本網站有權將在本網站內發表的作品用於其他用途，包括但不限網站、電子雜誌等。<br>
    
    第六條未經常本網站和作者共同同意，其他任何機構不得以任何形式侵犯其作品著作權，包括但不限於：擅自複製、連結、非法使用或轉載，或以任何方式建立作品映象。<br>
    
    第七條本網站所刊載的各類形式(包括但不僅限於文字、圖片、圖表)的作品僅供參考使用，並不代表本網站同意其說法或描述，僅為提供更多資訊，也不構成任何投資建議。對於訪問者根據本網站提供的資訊所做出的一切行為，除非另有明確的書面承諾檔案，否則本網站不承擔任何形式的責任。<br>

    第八條當本網站以連結形式推薦其他網站內容時，本網站並不對這些網站或資源的可用性負責，且不保證從這些網站獲取的任何內容、產品、服務或其他材料的真實性、合法性，對於任何因使用或信賴從此類網站或資源上獲取的內容、產品、服務或其他材料而造成(或聲稱造成)的任何直接或間接損失，本網站均不承擔任何責任。<br>
    
    第九條本公司不會對使用或任何人士使用本網頁而導致制之任何損害（包括但不限於電腦病毒、系統固障、資料損失）承擔任何民事、刑事或行政法律上的賠償之責。本網頁所內含可能連結至其他機構或第三人所架設、提供的網頁或程式，但這些網頁或程式並非本公司所能控制、管理及維護。本公司不會對這些網頁所顯示的內容作出任何保證或承擔任何責任。使用者如點選相關連結瀏覽這些網頁、或使用相關程式所可能產生之一切結果，均應自行承擔。<br>
    
    第十一條由於使用者將個人密碼告知他人或與他人共享註冊賬戶，由此導致的任何個人資料洩露，本網站不負任何責任。<br>

    第十二條本網站有部分內容來自網際網路，如無意中侵犯了哪個媒體、公司、企業或個人等的智慧財產權，請來電或致函告之，本網站將在規定時間內給予刪除等相關處理，若有涉及版權費等問題，請及時提供相關證明等材料並與我們聯絡，通過友好協商公平公正原則處理糾紛</h2>
</body>
<form method="post">
    <input type=submit value = 我同意以上條款>
</form>
{% endblock %}