{% extends "base.html" %}

{% block title %}數量計算{% endblock %}

{% block content %}
<head>
    <style>
    .banner::before {
        background-image: url("../static/RC check網站橫幅(無字)_工作區域 1-03.png");
    }
    select {
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size:large;
        -webkit-appearance: menulist-button;  
        -moz-appearance:none;
        padding: 2px;
      }

    </style>
</head>
<body>
<div class="testbox">
    <form action="" name="dataForm" enctype="multipart/form-data" method="POST" id="dataForm">
        <div class = "banner">
            <h1  class ="header1">RC梁數量計算<p class="header2">Powered by</p><p class="header3">ELEMENTs Structure Team</p></h1>
        </div>
        <div style="padding-bottom: 10px;padding-top: 10px;">
        <span>選擇公司樣板:</span>
        <select id = 'company' name="company" size="1">
            <option value="公司1">公司1</option>
            <option value="公司2">公司2</option>
        </select>
        </div>
        <!-- <p id = "download_sample">輸入/輸出範例檔下載</p> -->
        <div> 
        <a href="{{url_for('result_file', filename='sample.zip')}}" style='color: #279c96'>輸入/輸出範例檔下載</a>
        </div>
        <h3>請輸入以下資訊：</h3>
        <div class="item">
            <labe>專案名稱</label>
            <input type="text" id="project_name" name="project_name" placeholder="請輸入專案名稱" required >
            <labe>Email(選填)，若有填寫會寄送一份結果至信箱</label>
            <input type="text" id="email_address" name="email_address" placeholder="請輸入電子信箱" required >
            <labe>選擇檔案(.dwg)</label>
            <input type=file id="file_beam" name="file_beam" value="dwg" multiple>
            <labe>鋼筋指示箭頭及文字圖層</label>
            <input type="text" id="rebar_data_layer" name="rebar_data_layer" placeholder="請輸入圖層名稱" value = "S-LEADER" required >
            <labe>鋼筋線圖層</label>
            <input type="text" id="rebar_layer" name="rebar_layer" placeholder="請輸入圖層名稱" value = "S-REINF" required >
            <labe>箍筋文字圖層</label>
            <input type="text" id="tie_text_layer" name="tie_text_layer" placeholder="請輸入圖層名稱" value = "S-TEXT" required >
            <labe>圖框圖層</label>
            <input type="text" id="block_layer" name="block_layer" placeholder="請輸入圖層名稱" value = "S-GRID" required >
            <labe>梁編號圖層</label>
            <input type="text" id="beam_text_layer" name="beam_text_layer" placeholder="請輸入圖層名稱" value = "S-RC" required >
            <labe>梁邊框圖層(選填)</label>
            <input type="text" id="bounding_block_layer" name="bounding_block_layer" placeholder="請輸入圖層名稱" value = "S-ARCH">
            <div class="btn-block">
            <button id="count_beam">完成</button>
            </div>
        </div>
    </form> 
        
</div>
<div class="banner2">
    <h3>&emsp;⚠️注意事項</h3>
</div>
<ol>
<li>圖層分類示意圖
    <ul style="list-style-type:disc;">
        <li>
            <p>梁配筋圖示意圖。
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_demo_example.png" alt="image"></p></div>
        </li>
    </ul>
    <ul style="list-style-type:disc;">
        <li>
            <p>圖框示意圖，梁邊框能提升數量計算精確度。
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_demo_example2.png" alt="image"></p></div>
        </li>
        <li>
            <p>框選梁邊框，提升數量計算精確度。<font color="red" style="font-weight: 200;">建議可以第一次執行結果框選誤差較多之梁</font>，梁邊框僅需框選編號以及其對應圖是大約位置即可。
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_demo_example3.png" alt="image"></p></div>
        </li>
        <li>
            <p>&emsp;⚠️注意一個邊框只能包含一個梁編號</p>
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_demo_example_wrong_1.png" alt="image"></p></div>
        </li>
    </ul>
</li>
</ol>
<div class="banner2">
    <h3>輸出檔案說明</h3>
</div>
    <ul style="list-style-type:disc;">
        <li>
            <p>輸出dwg檔示意圖。協助人工辨識有無錯誤的部分
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_output_dwg_1.png" alt="image"></p></div>
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_output_dwg_2.png" alt="image"></p></div>
        </li>
        <li>
            <p>輸出xlsx檔示意圖。
            <br>
            <div align="center"><img style="max-width: 50%; height: auto;"src="./static/count_output_excel_1.png" alt="image"></p></div>
        </li>
    </ul>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('#company').change(function(){
            if ($('#company').val() == '公司2'){
                $('#rebar_data_layer').val('NBAR');
                $('#rebar_layer').val('RBAR');
                $('#tie_text_layer').val('NBAR');
                $('#block_layer').val('DEFPOINTS');
                $('#beam_text_layer').val('TITLE');
            }
            if($('#company').val() == "公司1"){
                $('#rebar_data_layer').val("S-LEADER" );
                $('#rebar_layer').val("S-REINF");
                $('#tie_text_layer').val("S-TEXT" );
                $('#block_layer').val("S-GRID");
                $('#beam_text_layer').val("S-RC");
            }
            
        });
        // $('#download_sample').click(function(){
        //     fetch("/results/sample.zip",{method:'post',contentType : false,cache: 'no-cache',credentials: 'same-origin'}).then(
        //         response=>response.text()
        //     ).then(
        //         data=>{
        //             console.log(data);
        //         }
        //     )
        // })
        // var form = $('#dataForm');
        $('#count_beam').click(function(){
            const form = document.getElementById('dataForm');
            const formData = new FormData(form);
            var file = $('#file_beam');
            if(!file.val()){
                alert('未上傳檔案')
                return false
            }
            if(getExtension(file.val()) != 'dwg' & getExtension(file.val()) != 'DWG'){
                alert('檔案類型錯誤')
                return false
            }
            // $.ajax({
            //     type:"POST",
            //     url:"/count_beam",
            //     // 告訴jQuery不要去處理髮送的資料
            //     processData : false, 
            //     // 告訴jQuery不要去設定Content-Type請求頭
            //     contentType : false,
            //     data:formData,
            //     success:function(data){
            //         console.log(data);
            //     }
            // })
            fetch("/count_beam",{method:'post',processData : false,contentType : false,cache: 'no-cache',credentials: 'same-origin',body:formData})
                .then(response=>response.text())
                .then(data =>{
                console.log(JSON.parse(data));
                alert(JSON.parse(data)['validate']);
            }).catch((error)=>{
                console.log(error);
            })
            
            // $.post("/count_beam",formData,function(response){
            //         console.log(response);
            // },'json');
            console.log('wait for response')
            alert('成功傳送，請稍等結果');
            return false;
        });
    });
    function getExtension(filename) {
        var parts = filename.split('.');
        return parts[parts.length - 1];
    }
</script>
{% endblock %}